html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}
h1, h2, h3, h4, p {
    margin: 0;
}

body {
    min-width: 320px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    position: relative;
    overflow: hidden;
}

.but-effect:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 60px;
    width: 50px;
    position: absolute;
    top: 0px;
    left: -80px;
    transform: skewX(-45deg);
}
.but-effect:hover {
    // background: $blue;
    color: #fff;
}
.but-effect:hover:before {
    left: 100%;
    transition: .5s ease-in-out;
}