@charset "UTF-8";
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, p {
  margin: 0;
}

body {
  min-width: 320px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #333;
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  position: relative;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1198px;
  margin: auto;
  padding: 0 15px;
  overflow: hidden;
}

.main {
  flex: 1;
}

/* header */
.header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url("./img/tZeezotje-51.jpg") no-repeat;
  background-size: cover;
}
.header .container {
  position: relative;
  padding: 55px 15px 265px 15px;
}
@media only screen and (max-width: 570px) {
  .header .container {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 570px) and (max-width: 435px) {
  .header .container {
    padding: 25px 15px 25px 15px;
  }
}
.header__top {
  margin-bottom: 154px;
}
@media only screen and (max-width: 570px) {
  .header__top {
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 570px) and (max-width: 435px) {
  .header__top {
    margin-bottom: 50px;
  }
}
.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 570px) {
  .header__mobile {
    flex-direction: column;
    padding: 0;
  }
}
.header__schedule {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}
@media only screen and (max-width: 570px) {
  .header__schedule {
    font-size: 18px;
  }
}
@media only screen and (max-width: 900px) {
  .header__logo {
    margin-left: 65px;
  }
}
@media only screen and (max-width: 900px) and (max-width: 570px) {
  .header__logo {
    margin: 0px;
  }
}
@media only screen and (max-width: 570px) {
  .header__logo img {
    width: 220px;
  }
}
@media only screen and (max-width: 570px) and (max-width: 380px) {
  .header__logo img {
    width: 180px;
    padding-top: 5px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 45px;
}
@media only screen and (max-width: 900px) {
  .navigation__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
.navigation__item {
  font-size: 16px;
  cursor: pointer;
}
.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
@media only screen and (max-width: 950px) {
  .navigation__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media only screen and (max-width: 950px) and (max-width: 900px) {
  .navigation__list {
    display: none;
  }
}
.navigation__link {
  font-size: 14px;
  font-weight: 400;
  transition: 0.15s color;
  color: #fff;
}
@media only screen and (max-width: 900px) {
  .navigation__link {
    font-size: 38px;
  }
}
.navigation__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #D3B47F;
  transform: translateY(3px) scale(0);
  transition: all 0.2s;
}
.navigation__link:hover {
  font-weight: 600;
  text-decoration: none;
}
.navigation__link:hover::after {
  transform: translateY(3px) scale(1);
}

.header-phone {
  display: flex;
  justify-content: center;
}
.header-phone:hover {
  opacity: 0.8;
  transition: 0.5s;
}
.header-phone__number {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: flex;
  padding-top: 8px;
}
.header-phone__badge {
  margin-right: 11px;
}

@media only screen and (max-width: 900px) {
  .hero {
    text-align: center;
  }
}
.hero__title {
  font-size: 64px;
  color: #fff;
  padding: 24px 0 40px 0;
}
@media only screen and (max-width: 1280px) {
  .hero__title {
    font-size: 48px;
  }
}
@media only screen and (max-width: 1280px) and (max-width: 570px) {
  .hero__title {
    font-size: 36px;
  }
}
.hero__wrap-bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .hero__wrap-bottom {
    display: inline-block;
  }
}
@media only screen and (max-width: 900px) {
  .hero__social {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 900px) and (max-width: 570px) {
  .hero__social {
    margin-top: 30px;
  }
}

/* Кнопка */
.btn {
  background: #3a4574;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  text-align: center;
}
.btn:hover {
  transition: 0.5s;
  background: #232942;
}
.btn_large {
  font-size: 18px;
  max-width: 270px;
  padding: 38px 64px;
}
@media only screen and (max-width: 570px) {
  .btn_large {
    padding: 25px 64px;
  }
}
.btn_form {
  font-size: 16px;
  max-width: 270px;
  padding: 16px;
  border-radius: 3px;
}

.social {
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 900px) {
  .social {
    padding: 0;
  }
}
.social__item {
  width: 48px;
  height: 48px;
}
.social__link:hover {
  transition: 0.5s;
  opacity: 0.6;
}

.social li:not(:last-child) {
  margin-right: 25px;
}
@media only screen and (max-width: 900px) {
  .social li:not(:last-child) {
    margin-right: 10px;
  }
}

/* about */
.about__content {
  display: flex;
  padding: 80px 0 178px 0;
  flex-wrap: wrap;
}
@media only screen and (max-width: 950px) {
  .about__content {
    justify-content: center;
  }
}
@media only screen and (max-width: 950px) and (max-width: 570px) {
  .about__content {
    padding-bottom: 60px;
  }
}
.about__list {
  min-width: 469px;
}
@media only screen and (max-width: 570px) {
  .about__list {
    padding: 0px;
    min-width: 320px;
  }
}
.about__block {
  padding-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 20px;
}
.about__title {
  padding-bottom: 10px;
}
.about__font {
  font-weight: 600;
  font-size: 24px;
}
@media only screen and (max-width: 570px) {
  .about__font {
    font-size: 20px;
  }
}
.about__subtitle {
  display: flex;
}
@media only screen and (max-width: 570px) {
  .about__subtitle {
    align-items: baseline;
  }
}
.about__subtitle h4 {
  font-weight: 400;
  font-size: 18px;
}
@media only screen and (max-width: 570px) {
  .about__subtitle h4 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 570px) and (max-width: 435px) {
  .about__subtitle h4 {
    font-size: 12px;
    padding-right: 8px;
  }
}
.about__subtitle h4:not(:last-child) {
  padding-right: 12px;
}
@media only screen and (max-width: 435px) {
  .about__subtitle h4:not(:last-child) {
    padding-right: 8px;
  }
}
.about__dots {
  margin: 0;
  padding: 0;
}
.about__dots li {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #D3B47F;
  margin-right: 12px;
}
@media only screen and (max-width: 435px) {
  .about__dots li {
    width: 3px;
    height: 3px;
    margin-right: 8px;
  }
}
@media only screen and (max-width: 1165px) {
  .about__images {
    margin-top: 60px;
  }
}
.about__review {
  width: 100%;
}
.about__frame {
  position: relative;
  width: 471px;
  height: 502px;
  border: 2px solid #D3B47F;
  margin: 51px 0 0 129px;
}
@media only screen and (max-width: 950px) {
  .about__frame {
    width: 350px;
  }
}
@media only screen and (max-width: 950px) and (max-width: 768px) {
  .about__frame {
    margin-left: 0;
  }
}
@media only screen and (max-width: 950px) and (max-width: 480px) {
  .about__frame {
    width: 260px;
  }
}
.about__frame::before {
  content: "";
  position: absolute;
  width: 323px;
  height: 486px;
  top: 100px;
  left: -97px;
  background: url("./img/Rectangle 77.png") no-repeat center;
  z-index: 3;
}
@media only screen and (max-width: 570px) {
  .about__frame::before {
    left: -40px;
    width: 280px;
    height: 350px;
  }
}
.about__frame::after {
  content: "";
  position: absolute;
  width: 323px;
  height: 486px;
  top: -51px;
  right: -97px;
  background: url("./img/Rectangle 80.png") no-repeat center;
  z-index: 3;
}
@media only screen and (max-width: 570px) {
  .about__frame::after {
    right: -75px;
    width: 280px;
    height: 350px;
  }
}

/* popular */
.section__violet {
  background: #3A4574;
}

.swiper {
  max-width: 1168px;
  min-width: 0;
}
.swiper__prev {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  left: 10px;
  right: auto;
  cursor: pointer;
  z-index: 99;
}
@media only screen and (max-width: 768px) {
  .swiper__prev {
    top: 26%;
    right: 85px;
    left: auto;
  }
}
@media only screen and (max-width: 768px) and (max-width: 570px) {
  .swiper__prev {
    top: 18%;
  }
}
@media only screen and (max-width: 768px) and (max-width: 570px) and (max-width: 435px) {
  .swiper__prev {
    top: 15%;
    right: 27px;
  }
}
.swiper__next {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  right: 10px;
  left: auto;
  cursor: pointer;
  z-index: 99;
}
@media only screen and (max-width: 768px) {
  .swiper__next {
    top: 26%;
  }
}
@media only screen and (max-width: 768px) and (max-width: 570px) {
  .swiper__next {
    top: 18%;
  }
}
@media only screen and (max-width: 768px) and (max-width: 570px) and (max-width: 435px) {
  .swiper__next {
    top: 15%;
    right: -15px;
  }
}
.swiper__svgl {
  width: 70px;
  height: 70px;
  margin-top: calc(12px - var(--swiper-navigation-size) / 1);
  stroke: white;
}
.swiper__svgl:hover {
  stroke: #D3B47F;
}
.swiper__svgr {
  width: 70px;
  height: 70px;
  margin-top: calc(12px - var(--swiper-navigation-size) / 1);
  stroke: white;
}
.swiper__svgr:hover {
  stroke: #D3B47F;
}

.slide {
  max-width: 785px;
  padding-top: 219px;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .slide {
    max-width: 610px;
    padding-top: 160px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 811px) {
  .slide {
    max-width: 500px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 811px) and (max-width: 570px) {
  .slide {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 570px) {
  .slide__img {
    width: 50px;
  }
}
.slide__title {
  font-weight: 600;
  font-size: 36px;
  color: #D3B47F;
  position: relative;
  text-align: center;
  padding: 34px 0 20px 0;
}
@media only screen and (max-width: 992px) {
  .slide__title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 811px) {
  .slide__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 811px) and (max-width: 570px) {
  .slide__title {
    font-size: 18px;
  }
}
.slide__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 40px;
}
@media only screen and (max-width: 992px) {
  .slide__subtitle {
    font-size: 14px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 570px) {
  .slide__subtitle {
    line-height: 25px;
    padding-bottom: 10px;
  }
}
.slide__autor {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.245em;
  color: #D3B47F;
  padding-bottom: 220px;
}
@media only screen and (max-width: 992px) {
  .slide__autor {
    font-size: 20px;
    padding-bottom: 150px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 811px) {
  .slide__autor {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) and (max-width: 811px) and (max-width: 570px) {
  .slide__autor {
    padding-bottom: 60px;
  }
}

input[type=submit]:focus ~ input:invalid {
  border: 1px solid red;
}

.modul-form {
  display: none;
  max-width: 600px;
  width: 100%;
  height: 600px;
}
.modul-form__form {
  padding: 15px;
  margin: 20px;
  border-radius: 3px;
  border: 1px solid #D8D8D8;
}
.modul-form__imput {
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 16px;
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  align-self: stretch;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

.mobile-menu {
  transition: all 0.25s;
  position: fixed;
  top: 60px;
  left: 20px;
  height: 40px;
  width: 40px;
  z-index: 10;
  cursor: pointer;
}
.mobile-menu .links-menu {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.b-a, .bar:after, .bar:before, .bar {
  transition: all 0.25s;
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 40px;
  border-radius: 8px;
  background-color: white;
}

.bar {
  position: fixed;
  left: 20px;
  top: 84px;
  z-index: 99;
}
.bar:before {
  top: -10px;
}
.bar:after {
  top: 10px;
}
@media only screen and (max-width: 570px) {
  .bar {
    top: 77px;
  }
}
@media only screen and (max-width: 570px) and (max-width: 435px) {
  .bar {
    top: 47px;
  }
}

.b-a-expanded, .mobile-menu-active .bar:after, .mobile-menu-active .bar:before {
  transition: all 0.25s;
  top: 0px;
}

.mobile-menu-active {
  transition: all 0.25s;
  line-height: 50px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: #3a4574;
}
.mobile-menu-active .links-menu {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  margin-left: -40px;
}
.mobile-menu-active .bar {
  background-color: transparent;
  transition: all 0.25s;
}
.mobile-menu-active .bar:before {
  transform: rotate(45deg);
}
.mobile-menu-active .bar:after {
  transform: rotate(-45deg);
}

.bar-menu {
  position: fixed;
  width: 100%;
  height: 140px;
  background: linear-gradient(360deg, transparent, #000);
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
  display: none;
}

@media only screen and (min-width: 900px) {
  .mobile-menu, .white-line {
    display: none;
  }
}