@import './common';
@import './mixins';

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    max-width: 1198px;
    margin: auto;
    padding: 0 15px;
    overflow: hidden;
}

.main {
    flex: 1;
}

/* header */

.header {

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51)), url('./img/tZeezotje-51.jpg')no-repeat;
    background-size: cover;
    
    .container {
        position: relative;
        padding: 55px 15px 265px 15px;

        @include _570() {
            padding-bottom: 60px;

            @include _435() {
                padding: 25px 15px 25px 15px;
            }
        }
    }

    &__top {
        margin-bottom: 154px;

        @include _570() {
                margin-bottom: 80px;

                @include _435() {
                    margin-bottom: 50px;
                }
            }
    }

    &__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include _570() {
            flex-direction: column;
            padding: 0;
        }
    }

    &__schedule {
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;

        @include _570() {
            font-size: 18px;
        }
    }

    &__logo {

        @include _900() {
            margin-left: 65px;

            @include _570() {
                margin: 0px;
            }
        }
    }

    &__logo img {
        @include _570() {
            width: 220px;
        }
    }
}

.navigation {

    &__item:not(:last-child) {
    margin-right: 45px;

        @include _900() {
                margin-right: 0px;
                margin-bottom: 20px;
            }
    }

    &__item {
        font-size: 16px;
        font-weight: 500;
        transition: .15s color;
        cursor: pointer;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        @include _950() {
            flex-wrap: wrap;
            justify-content: center;

            @include _900() {
                display: none;
            }
        }
    }

    &__link {
        font-size: 14px;
        font-weight: 400;
        transition: .15s color;
        color: #fff;

        @include _900() {
            font-size: 38px;
            border-bottom: 1px solid;
        }

        &:hover {
            transition: .5s;
            font-weight: 600;
        }
    }
}

.header-phone {

    display: flex;
    justify-content: center;

    &:hover {
        opacity: .8;
        transition: .5s;
    }

    &__number {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        display: flex;
        padding-top: 8px;
    }

    &__badge {
        margin-right: 11px;
    }
}

.hero {

    @include _900() {
        text-align: center;
    }


    &__title {
        font-size: 64px;
        color: #fff;
        padding: 24px 0 40px 0;

        @include _1021() {
            font-size: 48px;

            @include _570() {
            font-size: 36px;
        }
        }
    }

    &__wrap-bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        
        @include _900() {
            display: inline-block;
        }

    }

    &__social {

        @include _900() {
            display: flex;
            justify-content: center;
            margin-top: 50px;

            @include _570() {
                margin-top: 30px;
            }
        }
    }
}

/* Кнопка */

.btn {
    background: #3a4574;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-align: center;

    &:hover {
        transition: .5s;
        background: #232942;
    }

    &_large {
        font-size: 18px;
        max-width: 270px;
        padding: 38px 64px;

        @include _570() {
            padding: 25px 64px;
        }
    }

    &_form {
        font-size: 16px;
        max-width: 270px;
        padding: 16px;
        border-radius: 3px;;
    }
}


.social {
    display: flex;
    list-style: none;

    @include _900() {
        padding: 0;
    }

    &__link:hover {
        transition: .5s;
        opacity: .6;
    }

}

.social li:not(:last-child) {
    margin-right: 25px;

    @include _900() {
        margin-right: 10px;
    }
}

/* about */

.about {

    &__content {
        display: flex;
        padding: 80px 0 178px 0;
        flex-wrap: wrap;

        @include _950() {
            justify-content: center;

            @include _570() {
                padding-bottom: 60px;
            }
        }
    }

    &__list {
        min-width: 469px;

        @include _570() {
                padding: 0px;
                min-width: 320px;
            }
    }

    &__block {
        padding-bottom: 20px;
        border-bottom: 1px solid #E7E7E7;
        margin-bottom: 20px;
    }

    &__title {
        padding-bottom: 10px;
    }

    &__font {
        font-weight: 600;
        font-size: 24px;

        @include _570() {
            font-size: 20px;
        }
    }

    &__subtitle {
        display: flex;

        @include _570() {
            align-items: baseline;
        }
    }

    &__subtitle h4 {
        font-weight: 400;
        font-size: 18px;

        @include _570() {
                font-size: 14px;

                @include _435() {
                    font-size: 12px;
                    padding-right: 8px;
                }
            }

    }

    &__subtitle h4:not(:last-child) {
        padding-right: 12px;

        @include _435() {
                padding-right: 8px;
            }
    }

    &__dots {
        margin: 0;
        padding: 0;
    }

    &__dots li {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #D3B47F;
        margin-right: 12px;

        @include _435() {
                width: 3px;
                height: 3px;
                margin-right: 8px;
            }
    }

    &__images {

        @include _1116() {
            margin-top: 60px;
        }
    }

    &__review {
        width: 100%;
    }

    &__frame {
        position: relative;
        width: 471px;
        height: 502px;
        border: 2px solid #D3B47F;
        margin: 51px 0 0 129px;

        @include _950() {
            margin-left: 0px;
            width: 350px;

            @include _480() {
                width: 260px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 323px;
            height: 486px;
            top: 100px;
            left: -97px;
            background: url('./img/Rectangle 77.png') no-repeat center;
            z-index: 3;

            @include _570() {
                left: -40px;
                width: 280px;
                height: 350px;
            }    
        }

        &::after {
            content: '';
            position: absolute;
            width: 323px;
            height: 486px;
            top: -51px;
            right: -97px;
            background: url('./img/Rectangle 80.png') no-repeat center;
            z-index: 3;

            @include _570() {
                right: -75px;
                width: 280px;
                height: 350px;
            }
        }
    }
}

/* popular */

.section {

    &__violet {
        background: #3A4574;
    }
}

// slider

.swiper {
    max-width: 1168px;
    min-width: 0;

    &__prev {
        position: absolute;
        top: 50%;
        width: 70px;
        height: 70px;
        left: 10px;
        right: auto;
        cursor: pointer;
        z-index: 99;

        @include _768() {
                top: 26%;
                right: 85px;
                left: auto;

                @include _570() {
                    top: 18%;
                        @include _435() {
                            top: 15%;
                            right: 27px;
                        }
                }
            }
    }

    &__next {
        position: absolute;
        top: 50%;
        width: 70px;
        height: 70px;
        right: 10px;
        left: auto;
        cursor: pointer;
        z-index: 99;

        @include _768() {
                top: 26%;

                @include _570() {
                    top: 18%;

                    @include _435() {
                        top: 15%;
                        right: -15px;
                    }
                }
            }
    }

    &__svgl {
        width: 70px;
        height: 70px;
        margin-top: calc(12px - (var(--swiper-navigation-size)/ 1));
        stroke: white;

        &:hover {
            stroke: #D3B47F;
        }
    }

    &__svgr {
        width: 70px;
        height: 70px;
        margin-top: calc(12px - (var(--swiper-navigation-size)/ 1));
        stroke: white;

        &:hover {
            stroke: #D3B47F;
        }
    }
}


.slide {
    max-width: 785px;
    padding-top: 219px;
    text-align: center;
    margin: auto;

    @include _992() {
        max-width: 610px;
        padding-top: 160px;

        @include _811() {
            max-width: 500px;

            @include _570() {
                padding-top: 50px;
            }
        }
    }

    &__img {
        @include _570() {
                width: 50px;
            }
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        color: #D3B47F;
        position: relative;
        text-align: center;
        padding: 34px 0 20px 0;

        @include _992() {
            font-size: 28px;


            @include _811() {
                font-size: 20px;

                @include _570() {
                    font-size: 18px;
                }
            }
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        text-align: center;
        color: #FFFFFF;
        padding-bottom: 40px;

        @include _992() {
            font-size: 14px;

            @include _570() {
                line-height: 25px;
                padding-bottom: 10px;
            }
        }
    }

    &__autor {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.245em;
        color: #D3B47F;
        padding-bottom: 220px;

        @include _992() {
            font-size: 20px;
            padding-bottom: 150px;

            @include _811() {
                font-size: 16px;

                @include _570() {
                    padding-bottom: 60px;
                }
            }
        }
    }
}


// Модальное окно

input[type="submit"]:focus ~ input:invalid {
    border: 1px solid red;
}

.modul-form {
    display: none;
    max-width: 600px;
    width: 100%;
    height: 600px;

    &__form {
        padding: 15px;
        margin: 20px;
        border-radius: 3px;
        border: 1px solid #D8D8D8;
    }

    &__imput {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 16px;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        align-self: stretch;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
    }
}

// mobile menu v2

.mobile-menu {
    transition: all .25s;
    position: fixed;
    top: 60px;
    left: 20px;
    height: 40px;
    width: 40px;
    z-index: 10;
    cursor: pointer;

    .links-menu {
        transition: all 0s;
        position: fixed;
        left: -9000px;
     }
}

.b-a {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 40px;
    border-radius: 8px;
    background-color: white;
 }

 .bar {
    @extend .b-a;
    position: fixed;
    left: 20px;
    top: 84px;
    z-index: 99;

    &:before {
       @extend .b-a;
       top: -10px;
    }
    
    &:after {
       @extend .b-a;
       top: 10px;
    }

    @include _570() {
            top: 77px;

            @include _435() {
                top: 47px;
            }
        }
 }

 .b-a-expanded {
    transition: all .25s;
    top: -0px;
 }

 .mobile-menu-active {
    transition: all .25s;
    line-height: 50px;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    top: 0;
    left: 0;
    background-color: #3a4574;

    .links-menu {
        transition: all 0s;
        position: relative;
        left: 0;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin-left: -40px;
    }

    .bar {
        background-color: transparent;
        transition: all .25s;
        &:before {
           @extend .b-a-expanded;
           transform: rotate(45deg);
        }
        &:after {
           @extend .b-a-expanded;
           transform: rotate(-45deg);
        }
     }

 }

 .bar-menu {
    position: fixed;
    width: 100%;
    height: 140px;
    background: linear-gradient( 360deg ,transparent,#000);
    top: 0;
    left: 0;
    right: 0;
    z-index: 7;
    display: none;
}

 @media only screen and (min-width: 900px) {
    .mobile-menu, .white-line {
        display: none;
    }
}